<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gaysugardaddyfinder.app" version="1.0.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>gaysugardaddyfinder.com</name>
    <description>
A new experience from the pioneeers of sugar daddy dating - the first site based on disruptive technologies
</description>
    <author email="g@txt.am" href="http://gaysugardaddyfinder.com">
Gautam Sharma
</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="true" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="ChildBrowser" value="false" />
    <preference name="ErrorUrl" value="err.html" />
    <preference name="FullScreen" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="xwalkMultipleApk" value="false" />
     <preference name="phonegap-version" value="cli-7.1.0" />

   <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-whitelist" version="1.0.0" />
    <plugin name="cordova-plugin-iosrtc" spec="~3.1.0" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.2.0" />
    <plugin name="cordova-plugin-android-permissions" spec="~0.10.0" />
    <plugin name="android-camera-permission" spec="~1.0.0" />	
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
        <false/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
        <true/>
    </gap:config-file>
	<!-- ios -->
	<platform name="ios">
		<feature name="StreamingMedia">
			<param name="ios-package" value="StreamingMedia" />
		</feature>
	</platform>
	<!-- android -->
	<platform name="android">
		 <feature name="Camera">
			<param name="android-package" value="org.apache.cordova.camera.CameraLauncher"/>
		</feature> 
		<feature name="Camera">
			<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
		</feature>
		<feature name="File">
			<param name="android-package" value="org.apache.cordova.file.FileUtils" />
			<param name="onload" value="true" />
		</feature>
		<allow-navigation href="cdvfile:*" />
		<feature name="Capture">
			<param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
		</feature>
		<feature name="Permissions">
			<param name="android-package" value="com.android.plugins.Permissions" />
		</feature>
		<feature name="Device">
			<param name="android-package" value="org.apache.cordova.device.Device" />
		</feature>
		<feature name="Media">
			<param name="android-package" value="org.apache.cordova.media.AudioHandler" />
		</feature>
		<feature name="Camera">
			<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
		</feature>
		<feature name="File">
			<param name="android-package" value="org.apache.cordova.file.FileUtils" />
			<param name="onload" value="true" />
		</feature>
		<allow-navigation href="cdvfile:*" />
		<feature name="Capture">
			<param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
		</feature>
		<feature name="Permissions">
			<param name="android-package" value="com.android.plugins.Permissions" />
		</feature>
		<feature name="Device">
			<param name="android-package" value="org.apache.cordova.device.Device" />
		</feature>
		<feature name="Media">
			<param name="android-package" value="org.apache.cordova.media.AudioHandler" />
		</feature>
		<feature name="Battery">
			<param name="android-package" value="org.apache.cordova.batterystatus.BatteryListener" />
		</feature>
		<feature name="Contacts">
			<param name="android-package" value="org.apache.cordova.contacts.ContactManager" />
		</feature>
		<feature name="Accelerometer">
			<param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
		</feature>
		<feature name="Compass">
			<param name="android-package" value="org.apache.cordova.deviceorientation.CompassListener" />
		</feature>
		<feature name="Notification">
			<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		</feature>
		<feature name="FileTransfer">
			<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
		</feature>
		<feature name="Geolocation">
			<param name="android-package" value="org.apache.cordova.geolocation.Geolocation" />
		</feature>
		<feature name="Globalization">
			<param name="android-package" value="org.apache.cordova.globalization.Globalization" />
		</feature>
		<feature name="InAppBrowser">
			<param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
		</feature>
		<feature name="NetworkStatus">
			<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
		</feature>
		<feature name="SplashScreen">
			<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
			<param name="onload" value="true" />
		</feature>
		<feature name="Vibration">
			<param name="android-package" value="org.apache.cordova.vibration.Vibration" />
		</feature> 

    <platform name="android">
        <preference name="Orientation" value="default" />
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidLaunchMode" value="singleTop" />
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <hook src="hooks/iosrtc-swift-support.js" type="after_platform_add" />
        <config-file parent="CFBundleURLTypes" target="*-Info.plist">
            <array>
                <key>NSAppTransportSecurity</key>
                <dict>
                    <key>NSAllowsArbitraryLoads</key>
                    <true />
                </dict>
            </array>
        </config-file>
        <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
            <string>WebRTC uses your camera to make video calls.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" platform="ios" target="*-Info.plist">
            <string>WebRTC uses your microphone to make voice calls.</string>
        </config-file>
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="latest" />
    <plugin name="cordova-plugin-iosrtc" spec="latest" />
    <plugin name="cordova-plugin-device" spec="latest" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
	<manifest android:hardwareAccelerated="true" android:versionCode="30009" android:versionName="3.0.9" package="rmc3.videoconference" xmlns:android="http://schemas.android.com/apk/res/android">
		<supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true" />
		<uses-permission android:name="android.permission.INTERNET" />
		<application android:hardwareAccelerated="true" android:icon="@mipmap/icon" android:label="@string/app_name" android:supportsRtl="true">
			<activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustResize">
				<intent-filter android:label="@string/launcher_name">
					<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
				</intent-filter>
			</activity>
		</application>
		<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25" />
		<uses-permission android:name="android.permission.CAMERA" />
		<uses-permission android:name="android.permission.MICROPHONE" />
		<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
		<uses-permission android:name="android.permission.RECORD_AUDIO" />
		<uses-permission android:name="android.permission.WAKE_LOCK" />
	</manifest>
	<engine name="android" spec="~7.0.0" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.4.4">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
</platform>

 <gap:config-file parent="CFBundleShortVersionString" platform="ios">
        <string>100</string>
    </gap:config-file>
    <splash src="splash.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
